.card-body h2 {
    font-size: 1.25rem;
  }
  
  .card-body h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

.btn-perfil {
  color: black;
  background-color: aliceblue;
  display: flex;
  font-size: 1.5rem;

}
.contenedor12 {
  display: flex;
  justify-content: center;
}