<button class="btn btn-primary position-absolute top-0 start-0 m-3" (click)="irAInicio()">Inicio</button>
<button class="btn btn-danger position-absolute top-0 end-0 m-3" (click)="logOut()">Cerrar Sesión</button>

<div class="container-fluid bg-light mt-5">
  <div class="row">
    <!-- Columna Izquierda -->
    <div class="col-md-6 p-5">
      <h2 class="mb-4">Perfil del Cliente</h2>

      <form (submit)="onSubmit($event)">
        <div class="mb-3">
          <label for="nombre_cliente" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre_cliente" [value]="clienteInfo.nombre_cliente" (input)="clienteInfo.nombre_cliente = $any($event.target).value" [readonly]="!editable" required>
        </div>

        <div class="mb-3">
          <label for="apellido_cliente" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido_cliente" [value]="clienteInfo.apellido_cliente" (input)="clienteInfo.apellido_cliente = $any($event.target).value" [readonly]="!editable" required>
        </div>

        <div class="mb-3">
          <label for="correo_cliente" class="form-label">Correo</label>
          <input type="email" class="form-control" id="correo_cliente" [value]="clienteInfo.correo_cliente" (input)="clienteInfo.correo_cliente = $any($event.target).value" [readonly]="!editable" required>
        </div>

        <div class="mb-3">
          <label for="celular_cliente" class="form-label">Celular</label>
          <input type="text" class="form-control" id="celular_cliente" [value]="clienteInfo.celular_cliente" (input)="clienteInfo.celular_cliente = $any($event.target).value" [readonly]="!editable" required>
        </div>

        <div class="mb-3">
          <label for="direccion_cliente" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="direccion_cliente" [value]="clienteInfo.direccion_cliente" (input)="clienteInfo.direccion_cliente = $any($event.target).value" [readonly]="!editable" required>
        </div>

        <div class="mb-3">
          <label for="contrasena" class="form-label">Contraseña (obligatorio si se actualiza la informacion)</label>
          <input type="password" class="form-control" id="contrasena" [value]="editable ? '' : clienteInfo.contrasena" (input)="clienteInfo.contrasena = $any($event.target).value" [readonly]="!editable" [required]="editable">
        </div>
        
        <button type="button" class="btn btn-secondary" (click)="toggleEdit()">{{ editable ? 'Cancelar' : 'Editar' }}</button>
        <button type="submit" class="btn btn-success" [disabled]="!editable">Actualizar Información</button>
      </form>
    </div>
  </div>
</div>
